minifi-toolkit/minifi-toolkit-configuration/src/test/resources/1.5_Variables_Handling.xml
<?xml version="1.0" ?>

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<template encoding-version="1.3">
	<description></description>
	<groupId>159f3f06-0161-1000-4efb-dc05a4eb9355</groupId>
	<name>test-variables</name>
	<snippet>
		<processGroups>
			<id>6896eef5-e11e-3687-0000-000000000000</id>
			<parentGroupId>2d33d4b8-ae19-3e18-0000-000000000000</parentGroupId>
			<position>
				<x>0.0</x>
				<y>0.0</y>
			</position>
			<comments></comments>
			<contents>
				<connections>
					<id>f3368784-725b-300f-0000-000000000000</id>
					<parentGroupId>6896eef5-e11e-3687-0000-000000000000</parentGroupId>
					<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
					<backPressureObjectThreshold>10000</backPressureObjectThreshold>
					<destination>
						<groupId>6896eef5-e11e-3687-0000-000000000000</groupId>
						<id>80461d24-3962-3bf7-0000-000000000000</id>
						<type>PROCESSOR</type>
					</destination>
					<flowFileExpiration>0 sec</flowFileExpiration>
					<labelIndex>1</labelIndex>
					<name></name>
					<selectedRelationships>success</selectedRelationships>
					<source>
						<groupId>6896eef5-e11e-3687-0000-000000000000</groupId>
						<id>ef1bd569-000f-39aa-0000-000000000000</id>
						<type>PROCESSOR</type>
					</source>
					<zIndex>0</zIndex>
				</connections>
				<processors>
					<id>80461d24-3962-3bf7-0000-000000000000</id>
					<parentGroupId>6896eef5-e11e-3687-0000-000000000000</parentGroupId>
					<position>
						<x>-567.2250548734016</x>
						<y>655.7943644075517</y>
					</position>
					<bundle>
						<artifact>nifi-standard-nar</artifact>
						<group>org.apache.nifi</group>
						<version>1.5.0</version>
					</bundle>
					<config>
						<bulletinLevel>WARN</bulletinLevel>
						<comments></comments>
						<concurrentlySchedulableTaskCount>1
						</concurrentlySchedulableTaskCount>
						<descriptors>
							<entry>
								<key>Directory</key>
								<value>
									<name>Directory</name>
								</value>
							</entry>
							<entry>
								<key>Conflict Resolution Strategy</key>
								<value>
									<name>Conflict Resolution Strategy</name>
								</value>
							</entry>
							<entry>
								<key>Create Missing Directories</key>
								<value>
									<name>Create Missing Directories</name>
								</value>
							</entry>
							<entry>
								<key>Maximum File Count</key>
								<value>
									<name>Maximum File Count</name>
								</value>
							</entry>
							<entry>
								<key>Last Modified Time</key>
								<value>
									<name>Last Modified Time</name>
								</value>
							</entry>
							<entry>
								<key>Permissions</key>
								<value>
									<name>Permissions</name>
								</value>
							</entry>
							<entry>
								<key>Owner</key>
								<value>
									<name>Owner</name>
								</value>
							</entry>
							<entry>
								<key>Group</key>
								<value>
									<name>Group</name>
								</value>
							</entry>
						</descriptors>
						<executionNode>ALL</executionNode>
						<lossTolerant>false</lossTolerant>
						<penaltyDuration>30 sec</penaltyDuration>
						<properties>
							<entry>
								<key>Directory</key>
								<value>/tmp</value>
							</entry>
							<entry>
								<key>Conflict Resolution Strategy</key>
								<value>replace</value>
							</entry>
							<entry>
								<key>Create Missing Directories</key>
								<value>true</value>
							</entry>
							<entry>
								<key>Maximum File Count</key>
							</entry>
							<entry>
								<key>Last Modified Time</key>
							</entry>
							<entry>
								<key>Permissions</key>
							</entry>
							<entry>
								<key>Owner</key>
							</entry>
							<entry>
								<key>Group</key>
							</entry>
						</properties>
						<runDurationMillis>0</runDurationMillis>
						<schedulingPeriod>0 sec</schedulingPeriod>
						<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
						<yieldDuration>1 sec</yieldDuration>
					</config>
					<name>PutFile</name>
					<relationships>
						<autoTerminate>true</autoTerminate>
						<name>failure</name>
					</relationships>
					<relationships>
						<autoTerminate>true</autoTerminate>
						<name>success</name>
					</relationships>
					<state>STOPPED</state>
					<style />
					<type>org.apache.nifi.processors.standard.PutFile</type>
				</processors>
				<processors>
					<id>ef1bd569-000f-39aa-0000-000000000000</id>
					<parentGroupId>6896eef5-e11e-3687-0000-000000000000</parentGroupId>
					<position>
						<x>-928.2250548734016</x>
						<y>392.79436440755177</y>
					</position>
					<bundle>
						<artifact>nifi-standard-nar</artifact>
						<group>org.apache.nifi</group>
						<version>1.5.0</version>
					</bundle>
					<config>
						<bulletinLevel>WARN</bulletinLevel>
						<comments></comments>
						<concurrentlySchedulableTaskCount>1
						</concurrentlySchedulableTaskCount>
						<descriptors>
							<entry>
								<key>File Size</key>
								<value>
									<name>File Size</name>
								</value>
							</entry>
							<entry>
								<key>Batch Size</key>
								<value>
									<name>Batch Size</name>
								</value>
							</entry>
							<entry>
								<key>Data Format</key>
								<value>
									<name>Data Format</name>
								</value>
							</entry>
							<entry>
								<key>Unique FlowFiles</key>
								<value>
									<name>Unique FlowFiles</name>
								</value>
							</entry>
							<entry>
								<key>generate-ff-custom-text</key>
								<value>
									<name>generate-ff-custom-text</name>
								</value>
							</entry>
							<entry>
								<key>character-set</key>
								<value>
									<name>character-set</name>
								</value>
							</entry>
							<entry>
								<key>filename</key>
								<value>
									<name>filename</name>
								</value>
							</entry>
						</descriptors>
						<executionNode>ALL</executionNode>
						<lossTolerant>false</lossTolerant>
						<penaltyDuration>30 sec</penaltyDuration>
						<properties>
							<entry>
								<key>File Size</key>
								<value>0B</value>
							</entry>
							<entry>
								<key>Batch Size</key>
								<value>1</value>
							</entry>
							<entry>
								<key>Data Format</key>
								<value>Text</value>
							</entry>
							<entry>
								<key>Unique FlowFiles</key>
								<value>false</value>
							</entry>
							<entry>
								<key>generate-ff-custom-text</key>
								<value>${key}</value>
							</entry>
							<entry>
								<key>character-set</key>
								<value>UTF-8</value>
							</entry>
							<entry>
								<key>filename</key>
								<value>${key}</value>
							</entry>
						</properties>
						<runDurationMillis>0</runDurationMillis>
						<schedulingPeriod>1 min</schedulingPeriod>
						<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
						<yieldDuration>1 sec</yieldDuration>
					</config>
					<name>GenerateFlowFile</name>
					<relationships>
						<autoTerminate>false</autoTerminate>
						<name>success</name>
					</relationships>
					<state>STOPPED</state>
					<style />
					<type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
				</processors>
			</contents>
			<name>test</name>
			<variables>
				<entry>
					<key>key</key>
					<value>value</value>
				</entry>
			</variables>
		</processGroups>
	</snippet>
	<timestamp>02/03/2018 11:45:23 CET</timestamp>
</template>